<div ng-controller="WaterDataTableCtrl" class="river-points">
    <div class="page">
        <div class="row ui-section">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" cloak class="">
                            <div layout-padding>
                                <h2 class="section-header">
                                    {{stateParams.name}} 水质监测数据
                                    <span class="pull-right">
                                        <button class="btn btn-primary btn-xs" ng-click="add()"><i class="fa fa-plus" title="添加检测点"></i></button>

                                        <button class="btn btn-primary btn-xs" ng-click="back()">返回上级列表</button>
                                    </span>

                                </h2>
                                <div class="table-responsive">
                                    <div>
                                        <div class="row">
                                            <div class="form-group col-xs-8">
                                                <label for="">导入Excel表格</label>
                                                <input type="file" name="excel"  class="form-control">
                                            </div>
                                        </div>

                                        <button  class="btn btn-primary" ng-click="submitExcel()">确定</button>
                                    </div>
                                    <table class="table no-border">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="th">
                                                        日期
                                                        <!--<span class="fa fa-angle-up"-->
                                                              <!--data-ng-click=" orderBy('checkdate') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName'}"></span>-->
                                                        <!--<span class="fa fa-angle-down"-->
                                                              <!--data-ng-click=" orderBy('riverName,desc') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName,desc'}"></span>-->
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th">
                                                        DO(溶解氧)
                                                        <!--<span class="fa fa-angle-up"-->
                                                              <!--data-ng-click=" orderBy('riverName') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName'}"></span>-->
                                                        <!--<span class="fa fa-angle-down"-->
                                                              <!--data-ng-click=" orderBy('riverName,desc') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName,desc'}"></span>-->
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th">
                                                        CODmn(高锰酸钾指数)
                                                        <!--<span class="fa fa-angle-up"-->
                                                              <!--data-ng-click=" orderBy('riverName') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName'}"></span>-->
                                                        <!--<span class="fa fa-angle-down"-->
                                                              <!--data-ng-click=" orderBy('riverName,desc') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName,desc'}"></span>-->
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th">
                                                        NH3-N(氨氧)
                                                        <!--<span class="fa fa-angle-up"-->
                                                              <!--data-ng-click=" orderBy('riverName') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName'}"></span>-->
                                                        <!--<span class="fa fa-angle-down"-->
                                                              <!--data-ng-click=" orderBy('riverName,desc') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName,desc'}"></span>-->
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th">
                                                        TP(总磷)
                                                        <!--<span class="fa fa-angle-up"-->
                                                              <!--data-ng-click=" orderBy('riverName') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName'}"></span>-->
                                                        <!--<span class="fa fa-angle-down"-->
                                                              <!--data-ng-click=" orderBy('riverName,desc') "-->
                                                              <!--data-ng-class="{active: pagObj.sort == 'riverName,desc'}"></span>-->
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="th">
                                                       操作
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="data in tableData">
                                            <td>{{data.checkdate}}</td>
                                            <td>{{data.oxygen}}</td>
                                            <td>{{data.permanganate}}</td>
                                            <td>{{data.ammonia}}</td>
                                            <td>{{data.phosphorus}}</td>
                                            <td>
                                                <span class="fa fa-edit text-primary" ng-click="edit(data)"></span>
                                                <span class="fa fa-trash text-danger"  ng-click="del(data)"></span>
                                                <!--<span class="fa fa-eye text-info" ng-click="toDetail(data)"></span>-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <footer class="table-footer">
                                        <div class="pagObj.sort">
                                            <div class="col-md-6 page-num-info">
                <span>
                展示
                <select data-ng-model="pagObj.numPerPage"
                        data-ng-options="num for num in pagObj.numPerPageOpt"
                        data-ng-change="pagObj.onNumPerPageChange()">
                </select>
                条记录
                </span>
                                            </div>
                                            <div class="col-md-6 text-right pagination-container">
                                                <div uib-pagination class="pagination-sm"
                                                     ng-model="pagObj.currentPage"
                                                     total-items="pagObj.totalElements"
                                                     max-size="4"
                                                     ng-change="pagObj.select(pagObj.currentPage)"
                                                     items-per-page="pagObj.numPerPage"
                                                     rotate="false"
                                                     previous-text="上一页" next-text="下一页"
                                                     first-text="首页" last-text="尾页"
                                                     boundary-links="true"></div>
                                            </div>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
