<div ng-controller="JobListCtrl">
    <!--<div class="table-responsive">-->
        <!--<table class="table no-margin">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th class="hidden-xs">-->
                    <!--<div class="th">-->
                        <!--下发时间-->
                        <!--<span class="fa fa-angle-up"-->
                              <!--data-ng-click=" orderBy('issueDate') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'issueDate'}"></span>-->
                        <!--<span class="fa fa-angle-down"-->
                              <!--data-ng-click=" orderBy('-issueDate') "-->
                              <!--data-ng-class="{active: pagObj.sort == '-issueDate'}"></span>-->
                    <!--</div>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<div class="th">-->
                        <!--任务标题-->
                        <!--<span class="fa fa-angle-up"-->
                              <!--data-ng-click=" orderBy('name') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'name'}"></span>-->
                        <!--<span class="fa fa-angle-down"-->
                              <!--data-ng-click=" orderBy('name,desc') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'name,desc'}"></span>-->
                    <!--</div>-->
                <!--</th>-->
                <!--<th>-->
                    <!--<div class="th">-->
                        <!--处理进度-->
                        <!--<span class="fa fa-angle-up"-->
                              <!--data-ng-click=" orderBy('status') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'status'}"></span>-->
                        <!--<span class="fa fa-angle-down"-->
                              <!--data-ng-click=" orderBy('status,desc') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'status,desc'}"></span>-->
                    <!--</div>-->
                <!--</th>-->
                <!--<th class="hidden-xs">-->
                    <!--<div class="th">-->
                        <!--&lt;!&ndash;处理员&ndash;&gt;-->
                        <!--组织名称-->
                        <!--<span class="fa fa-angle-up"-->
                              <!--data-ng-click=" orderBy('groupName') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'groupName'}"></span>-->
                        <!--<span class="fa fa-angle-down"-->
                              <!--data-ng-click=" orderBy('-groupName') "-->
                              <!--data-ng-class="{active: pagObj.sort == '-groupName'}"></span>-->
                    <!--</div>-->
                <!--</th>-->
                <!--<th class="hidden-xs">-->
                    <!--<div class="th">-->
                        <!--任务源-->
                        <!--<span class="fa fa-angle-up"-->
                              <!--data-ng-click=" orderBy('source') "-->
                              <!--data-ng-class="{active: pagObj.sort == 'source'}"></span>-->
                        <!--<span class="fa fa-angle-down"-->
                              <!--data-ng-click=" orderBy('-source') "-->
                              <!--data-ng-class="{active: pagObj.sort == '-source'}"></span>-->
                    <!--</div>-->
                <!--</th>-->

                <!--<th>-->
                    <!--<div class="th">-->
                        <!--操作-->
                    <!--</div>-->
                <!--</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="list in listObj.data">-->
                <!--&lt;!&ndash;<td>{{list.id}}</td>&ndash;&gt;-->
                <!--<td class="hidden-xs">{{list.issueDate}}</td>-->
                <!--<td>{{list.name}}</td>-->
                <!--<td>{{list.status}}-->
                    <!--&lt;!&ndash;<span ng-class="{'text-primary':list.status=='已上报','text-info':list.status=='正在处理','text-success':list.status=='处理完成'}">{{list.status}}</span>&ndash;&gt;-->
                <!--</td>-->
                <!--<td class="hidden-xs">-->
                    <!--{{list.groupName}}-->
                    <!--&lt;!&ndash;<span ng-repeat="user in list.users" style="margin:0 3px;">{{user.user}}</span>&ndash;&gt;-->
                <!--</td>-->
                <!--<td class="hidden-xs">{{list.source}}</td>-->

                <!--<td>-->
                    <!--<span class="fa fa-eye text-primary" ng-click="toTaskDetails(list)"></span>-->
                    <!--&lt;!&ndash;<span class="fa fa-edit text-info" ng-click="editTask(list)"></span>&ndash;&gt;-->
                    <!--<span class="fa fa-trash text-danger" ng-click="listObj.del(list)"></span>-->
                    <!--&lt;!&ndash;<span class="fa fa-user text-success" ng-click="edit(list)"></span>&ndash;&gt;-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <md-list>
        <md-list-item>
            <p class="col-xs-6">任务标题</p>
            <p class="col-xs-4" >处理进度</p>
            <p class="col-xs-2" >操作</p>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <div infinite-scroll="loadMore()" infinite-scroll-disabled="pagObj.busy">
        <md-list>
            <md-list-item ng-repeat="list in listObj.data">
                <p class="col-xs-6">{{list.name}}</p>
                <p class="col-xs-4" >
                    <span ng-class="{'text-primary':list.status=='已下发','text-info':list.status=='处理中','text-success':list.status=='已处理'}">{{list.status}}</span>
                </p>
                <p class="col-xs-2" layout="row">
                    <span class="fa fa-eye text-primary" ng-click="toTaskDetails(list)" flex></span>
                    <!--<span class="fa fa-edit text-info" ng-click="editTask(list)"></span>-->
                    <span class="fa fa-trash text-danger" ng-click="listObj.del(list)" flex></span>
                    <!--<span class="fa fa-user text-success" ng-click="edit(list)"></span>-->
                </p>
            </md-list-item>
        </md-list>
    </div>
</div>
