<div ng-controller="AddStaffCtrl">
    <div class="page page-form-ele">
        <div class="row ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <form name="addGroup" class="form-horizontal" ng-submit="save()">
                                    <h2 class="section-header">添加人员:</h2>
                                    <div class="form-group">
                                        <label for="label-login" class="col-sm-2">登录名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="formObj.login" id="label-login">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="label-password" class="col-sm-2">登录密码:</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" ng-model="formObj.password" id="label-password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="label-firstName" class="col-sm-2">人员姓名:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="formObj.firstName" id="label-firstName">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-2">上级组织</label>-->
                                        <!--<div class="col-sm-5">-->
                                            <!--<select class="form-control" name="" ng-model="level" ng-change="getSubGroups(level)">-->
                                                <!--<option  value="">-->
                                                    <!--1级节点-->
                                                <!--</option>-->
                                                <!--<option value="{{$index+1}}" ng-hide="$first" ng-repeat="l in levelArr track by $index" >{{$index+1}}级节点</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-5">-->
                                            <!--<select class="form-control" name="" ng-model="formObj.pid"-->
                                                    <!--ng-value="">-->
                                                <!--<option value="{{group.id}}" ng-repeat="group in groups">-->
                                                    <!--{{group.name}}-->
                                                <!--</option>-->
                                            <!--</select>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                    <div class="form-group">
                                        <label for="label-email" class="col-sm-2">邮箱:</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" ng-model="formObj.email" id="label-email">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="col-sm-2">所属组织:</label>-->
                                        <!--<div class="col-sm-5">-->
                                            <!--<select class="form-control" name="" ng-model="formObj.group" >-->
                                                <!--<option value="{{group.id}}" ng-repeat="group in groups">{{group.name}}</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <!--<div class="col-sm-5">-->
                                            <!--<select class="form-control" name="" ng-model="formObj.department">-->
                                                <!--<option value="{{d}}" ng-repeat="d in department">-->
                                                    <!--{{d}}-->
                                                <!--</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="form-group">-->
                                        <!--<label  class="col-sm-2">员工级别:</label>-->
                                        <!--<div class="col-sm-10">-->
                                            <!--&lt;!&ndash;<md-checkbox ng-model="formObj.cb1" aria-label="Checkbox 1">处理员</md-checkbox>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<md-checkbox ng-model="formObj.cb2" aria-label="Checkbox 2">一级河长</md-checkbox>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<md-checkbox ng-model="formObj.cb3" aria-label="Checkbox 3">二级河长</md-checkbox>&ndash;&gt;-->

                                            <!--<md-radio-group class="ui-md-radio-group-inline" ng-model="formObj.level">-->
                                                <!--<md-radio-button value="处理员">处理员</md-radio-button>-->
                                                <!--<md-radio-button value="一级河长">一级河长</md-radio-button>-->
                                                <!--<md-radio-button value="二级河长">二级河长</md-radio-button>-->
                                            <!--</md-radio-group>-->
                                            <!--&lt;!&ndash;<md-radio-button></md-radio-button>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label for="label-tel" class="col-sm-2">手机号码:</label>
                                        <div class="col-sm-10">
                                            <input type="number" min="0" class="form-control" ng-model="formObj.phoneNumber" id="label-tel">
                                        </div>
                                    </div>
                                    <button type="submit" ui-wave class="btn btn-primary btn-w-md pull-right" style="margin-top:50px;" >添加人员</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
