
.managerLog .list-group-item>div.row{
        position:relative;

    }
.managerLog .list-group-item>div.row .date{
        position:absolute;
        bottom:0;
        right:10px;
    }
.water-header{
    height:50px;
    background:#35a6ff;
    color:#fff;
    font-size:15px;
    line-height:48px;
    text-align: center;
    padding:0 10px;
}
.water-header i{
    line-height:48px;
}
.login{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width:100%;
    padding:10px;
}

.m-login{
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    position: absolute;
    .bg{
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        -webkit-filter: blur(10px); /* Chrome, Opera */
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(2px);
    }
    .card{
        position: absolute;
        top:50%;
        left:50px;
        right:50px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        padding:10px;
    }
    a.title{
        color:#fff;
    }
    .ui-input-group > input, .ui-input-group > textarea{
        background:none;
        border-bottom:1px solid #fff;
    }
    .ui-input-group > input:focus ~ label, .ui-input-group > textarea:focus ~ label,.ui-input-group > input:valid ~ label, .ui-input-group > textarea:valid ~ label,.ui-input-group > label{
        color:#fff;
    }
    .ui-input-group .form-control:focus{
        border-color:#fff;
    }
    .ui-input-group .input-bar:before, .ui-input-group .input-bar:after{
        background:#fff;
    }
    input.form-control{
        color:#fff;
    }
    button.btn{
        width:100%;
        display: block;
        background: none;
        color:#fff;
    }
}

@media (min-width:768px){
    .login{
        margin-left:-110px;
    }
}
.login .wrapper{
    width:80%;
    margin:0 auto;
}
.login .logo a{
    color:#00635a;
}
.water{
    .news-title{
       font-weight:normal;
    }
    .list-group-item>div.row .news-date{
        font-size:12px;
        padding-right:10px;
    }
    .news-img{
        border-radius:5px;
    }
    .waterColors{
        height:10px;
        display:flex;
        span{
            flex:1;
        }
    }
    .water-title{
        border-bottom:1px solid #ccc;
    }
    .shuizhi-data{
        .btn-group{
            margin-top:10px;
            margin-left:10px;
            border:1px solid #04cf76;
            border-radius:6px;
            .btn{
                border-right:2px solid #04cf76;
                &:active,&:focus{
                    background:#04cf76;
                }
            }
            .btn:last-child{
                border-right:none;
            }
        }
    }
}

.home{
    header{
        .btn-group,.btn-group.open{
            button.btn{
                background:none;
                border:none;
                i{
                    color:#fff;
                    font-size:16px;
                    line-height:28px;
                }
            }
            .dropdown-menu{
                text-align:center;
                min-width:auto;
            }
        }

        button.btn{
            background:none;
            border:none;
            i{
                color:#fff;
                font-size:16px;
                line-height:28px;
            }
        }
    }

    .warm{
        color:#fff;
        font-size:10px;
        position:absolute;
        bottom:27px;
        left:0px;
        right:0px;
        -webkit-text-stroke: 0px #005bac;
        /*-webkit-text-fill-color:#fff;*/
        text-shadow: 0 0 2px blue;
    }

}

.news-detail{
    .news-content{
        img{
            width:100% !important;
            height:auto !important;
        }
    }
}
.list-group-item{
    padding:10px 15px;
    .row{
        &>div:nth-child(1){
            padding-right:5px ;
        }
        &>div:nth-child(2){
            padding-left:5px ;
        }
    }
}
.list-group-item.files{
    .file-item{
        //display:inline-block;
        img{
            height:80px;
            vertical-align: middle;
            margin-right:2px;
        }
    }
}
.md-tab>.custom-tab{
    padding:12px 0;
}
md-pagination-wrapper {
    width:100%;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    .md-tab{
        flex:1;
    }
}

.table thead th {
    position: relative;
    padding: 0;
}

.table thead th > .th {
    position: relative;
    padding: 8px 20px 8px 8px;
}

.table thead th .glyphicon-chevron-up,
.table thead th .glyphicon-chevron-down {
    position: absolute;
    color: #999;
}

.table thead th .glyphicon-chevron-up:hover,
.table thead th .glyphicon-chevron-down:hover {
    color: #009688;
    cursor: pointer;
}

.table thead th .glyphicon-chevron-up.active,
.table thead th .glyphicon-chevron-down.active {
    color: #009688;
}

.table thead th .fa-angle-up,
.table thead th .fa-angle-down {
    position: absolute;
    color: #999;
    font-size: 16px;
    font-weight: bold;
}

.table thead th .fa-angle-up:hover,
.table thead th .fa-angle-down:hover {
    color: #009688;
    cursor: pointer;
}

.table thead th .fa-angle-up.active,
.table thead th .fa-angle-down.active {
    color: #009688;
}

.table thead th .glyphicon-chevron-up,
.table thead th .fa-angle-up {
    top: 4px;
    right: 5px;
}

.table thead th .fa-angle-down {
    top: 18px;
    right: 5px;
}

.table thead th .glyphicon-chevron-down {
    top: 18px;
    right: 6px;
}

.sparkle-progress-wrapper.fadeOut {
    animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    opacity: 0;
}
.sparkle-progress-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: #183854;
    animation-duration: 1s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-duration: 1s;
    -ms-animation-name: fadeIn;
    -ms-animation-fill-mode: forwards;
    opacity: 1;
}
.sparkle-progress-wrapper .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    background: #fff;
    color: #337ab7;
    width: 100px;
    height: 100px;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    border-radius: 100%;
    border: 10px solid #337ab7;
}
.sparkle-progress-wrapper .loader:after {
    content: '';
    background: none;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    box-shadow: #337ab7 0px -8px 3px -3px;
    animation: rotate 2s infinite linear;
}
@keyframes rotate{
    0%{
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg);}
    100%{
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);}
}
.anchorBL,.BMap_cpyCtrl{
    display:none !important;
}
//md-tabs
md-tabs-canvas.md-paginated{
    margin:0;
    md-prev-button,md-next-button{
        display:none;
    }
    .md-tab>.custom-tab{
        padding:12px 0;
    }
}

.fore-task-finishing{
    .file{
        span{
            border:1px solid #ccc;
        }
    }
    md-tab-content{
        background:#35a6ff;
    }
}
.jobs-execute{
    .files-imgs{
        width:80%;
        height:70px;
        line-height:90px;
        display:inline-block;
        overflow-x: scroll;
        overflow-y: hidden;
        .imgs{
            width:1000px;
            height:70px;
        }
        img{
            //width:70px;
            height:100%;
            vertical-align: top;
            margin-right:5px;
        }
    }
    .upload-file{
        width:50px;
        height:50px;
        position:relative;
        font-size:50px;
        &:before{
            position:absolute;
        }
        input[type=file]{
            position:absolute;
        }
    }
}







