
.managerLog .list-group-item>div.row{
        position:relative;

    }
.managerLog .list-group-item>div.row .date{
        position:absolute;
        bottom:0;
        right:10px;
    }
.water-header{
    height:50px;
    background:#35a6ff;
    color:#fff;
    font-size:15px;
    line-height:48px;
    text-align: center;
    padding:0 10px;
}
.water-header i{
    line-height:48px;
}
.login{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width:100%;
    padding:10px;
}
@media (min-width:768px){
    .login{
        margin-left:-110px;
    }
}
.login .wrapper{
    width:80%;
    margin:0 auto;
}
.login .logo a{
    color:#00635a;
}
.water{
    .news-title{
       font-weight:normal;
    }
    .list-group-item>div.row .news-date{
        //position:absolute;
        //bottom:0;
        //right:10px;
        font-size:12px;
        padding-right:10px;
    }
    .news-img{
        border-radius:5px;
    }
}

.home{
    header{
        .btn-group,.btn-group.open{
            button.btn{
                background:none;
                border:none;
                i{
                    color:#fff;
                    font-size:16px;
                    line-height:28px;
                }
            }
            .dropdown-menu{
                text-align:center;
                min-width:auto;
            }
        }

        button.btn{
            background:none;
            border:none;
            i{
                color:#fff;
                font-size:16px;
                line-height:28px;
            }
        }
    }

    .warm{
        color:#fff;
        font-size:10px;
        position:absolute;
        bottom:27px;
        left:0px;
        right:0px;
        -webkit-text-stroke: 0px #005bac;
        /*-webkit-text-fill-color:#fff;*/
        text-shadow: 0 0 2px blue;
    }

}

.news-detail{
    .news-content{
        img{
            width:100% !important;
            height:auto !important;
        }
    }
}
.list-group-item{
    padding:10px 15px;
    .row{
        &>div:nth-child(1){
            padding-right:5px ;
        }
        &>div:nth-child(2){
            padding-left:5px ;
        }
    }
}
.md-tab>.custom-tab{
    padding:12px 0;
}
md-pagination-wrapper {
    width:100%;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    .md-tab{
        flex:1;
    }
}

.table thead th {
    position: relative;
    padding: 0;
}

.table thead th > .th {
    position: relative;
    padding: 8px 20px 8px 8px;
}

.table thead th .glyphicon-chevron-up,
.table thead th .glyphicon-chevron-down {
    position: absolute;
    color: #999;
}

.table thead th .glyphicon-chevron-up:hover,
.table thead th .glyphicon-chevron-down:hover {
    color: #009688;
    cursor: pointer;
}

.table thead th .glyphicon-chevron-up.active,
.table thead th .glyphicon-chevron-down.active {
    color: #009688;
}

.table thead th .fa-angle-up,
.table thead th .fa-angle-down {
    position: absolute;
    color: #999;
    font-size: 16px;
    font-weight: bold;
}

.table thead th .fa-angle-up:hover,
.table thead th .fa-angle-down:hover {
    color: #009688;
    cursor: pointer;
}

.table thead th .fa-angle-up.active,
.table thead th .fa-angle-down.active {
    color: #009688;
}

.table thead th .glyphicon-chevron-up,
.table thead th .fa-angle-up {
    top: 4px;
    right: 5px;
}

.table thead th .fa-angle-down {
    top: 18px;
    right: 5px;
}

.table thead th .glyphicon-chevron-down {
    top: 18px;
    right: 6px;
}






