<div ng-controller="WaterInfoCtrl">
    <div class="page page-form-ele">
        <div class="row ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <form name="waterInfo" ng-submit="save()">
                                    <h2 class="section-header">河道信息</h2>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>河道名称</label>
                                            <input ng-model="formObj.riverName">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>管理级别</label>
                                            <input ng-model="formObj.managementLevel">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>河道长度</label>
                                            <input ng-model="formObj.length">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>常水位</label>
                                            <input ng-model="formObj.waterLevel">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>最高控制水位</label>
                                            <input ng-model="formObj.maxWaterLevel">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>河口最小面宽</label>
                                            <input ng-model="formObj.minRiverWidth">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>河口最大面宽</label>
                                            <input ng-model="formObj.maxRiverWidth">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>河口面积</label>
                                            <input ng-model="formObj.riverAcreage">
                                        </md-input-container>
                                    </div>
                                    <div layout layout-sm="column">
                                        <md-input-container flex>
                                            <label>起点</label>
                                            <input ng-model="formObj.startAddress">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>终点</label>
                                            <input ng-model="formObj.endAddress">
                                        </md-input-container>
                                    </div>
                                    <md-input-container md-no-float class="md-block">
                                        <input ng-model="formObj.content" placeholder="河道描述">
                                    </md-input-container>

                                    <!--多选-->
                                    <div class="divider divider-dashed divider-lg pull-in"></div>
                                    <h2 class="section-header">负责人</h2>
                                    <div layout layout-sm="column">
                                        <md-input-container flex ng-repeat="group in groups">
                                            <label>选择组</label>
                                            <md-select ng-model="pidArr[$index]"  ng-change="getSubGroups(pidArr[$index],$index)">
                                                <md-option   value="{{l.id}}"  ng-repeat="l in group">
                                                    {{l.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <!--<md-input-container flex>-->
                                            <!--<label>选择组</label>-->
                                            <!--<md-select ng-model="pid" ng-change="getUsers(pid)">-->
                                                <!--<md-option ng-repeat="group in groups" ng-value="group.id" >-->
                                                    <!--{{group.name}}-->
                                                <!--</md-option>-->
                                            <!--</md-select>-->
                                        <!--</md-input-container>-->
                                        <md-input-container flex>
                                            <label>一级河长</label>
                                            <md-select ng-model="formObj.manager">
                                                <md-option ng-repeat="user in users" value="{{user}}">
                                                    {{user.userName||user.firstName}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <!--<md-input-container flex>-->
                                            <!--<label>二级河长</label>-->
                                            <!--&lt;!&ndash;<md-select ng-model="formObj.secondManagers">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<md-option ng-repeat="user in users" value="{{user.user}}">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;{{user.userName}}&ndash;&gt;-->
                                                <!--&lt;!&ndash;</md-option>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</md-select>&ndash;&gt;-->
                                            <!---->
                                        <!--</md-input-container>-->

                                    </div>
                                    <div class="form-group">
                                        <label>二级河长</label>
                                        <select ng-model="formObj.secondManagers" class="form-control" multiple>
                                            <option value="{{user}}" ng-repeat="user in users" >
                                                {{user.userName||user.firstName}}</option>
                                        </select>
                                    </div>
                                    <button type="submit" ui-wave="" class="btn btn-primary btn-w-md pull-right ui-wave" style="margin-top:50px;">提交
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
