<div ng-controller="JobListCtrl">
    <div class="page page-form-ele">
        <div class="pagObj.sort ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding class="table-responsive">
                                <h2 class="section-header">
                                    已下发任务列表
                                    <a href="#!/add-task">
                                        <span class="fa fa-plus-square pull-right"></span>
                                    </a>
                                </h2>
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="th">
                                                下发时间
                                                <span class="fa fa-angle-up"
                                                data-ng-click=" orderBy('issueDate') "
                                                data-ng-class="{active: pagObj.sort == 'issueDate'}"></span>
                                                <span class="fa fa-angle-down"
                                                data-ng-click=" orderBy('-issueDate') "
                                                data-ng-class="{active: pagObj.sort == '-issueDate'}"></span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                任务标题
                                                <span class="fa fa-angle-up"
                                                      data-ng-click=" orderBy('name') "
                                                      data-ng-class="{active: pagObj.sort == 'name'}"></span>
                                                <span class="fa fa-angle-down"
                                                      data-ng-click=" orderBy('name,desc') "
                                                      data-ng-class="{active: pagObj.sort == 'name,desc'}"></span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                处理进度
                                                <span class="fa fa-angle-up"
                                                      data-ng-click=" orderBy('status') "
                                                      data-ng-class="{active: pagObj.sort == 'status'}"></span>
                                                <span class="fa fa-angle-down"
                                                      data-ng-click=" orderBy('status,desc') "
                                                      data-ng-class="{active: pagObj.sort == 'status,desc'}"></span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                <!--处理员-->
                                                组织名称
                                                <span class="fa fa-angle-up"
                                                      data-ng-click=" orderBy('groupName') "
                                                      data-ng-class="{active: pagObj.sort == 'groupName'}"></span>
                                                <span class="fa fa-angle-down"
                                                      data-ng-click=" orderBy('-groupName') "
                                                      data-ng-class="{active: pagObj.sort == '-groupName'}"></span>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                任务源
                                                <span class="fa fa-angle-up"
                                                      data-ng-click=" orderBy('source') "
                                                      data-ng-class="{active: pagObj.sort == 'source'}"></span>
                                                <span class="fa fa-angle-down"
                                                      data-ng-click=" orderBy('-source') "
                                                      data-ng-class="{active: pagObj.sort == '-source'}"></span>
                                            </div>
                                        </th>

                                        <th>
                                            <div class="th">
                                                操作
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="list in listObj.data">
                                        <!--<td>{{list.id}}</td>-->
                                        <td>{{list.issueDate}}</td>
                                        <td>{{list.name}}</td>
                                        <td>{{list.status}}
                                            <!--<span ng-class="{'text-primary':list.status=='已上报','text-info':list.status=='正在处理','text-success':list.status=='处理完成'}">{{list.status}}</span>-->
                                        </td>
                                        <td>
                                            {{list.groupName}}
                                            <!--<span ng-repeat="user in list.users" style="margin:0 3px;">{{user.user}}</span>-->
                                        </td>
                                        <td>{{list.source}}</td>

                                        <td>
                                            <span class="fa fa-eye text-primary" ng-click="toTaskDetails(list)"></span>
                                            <!--<span class="fa fa-edit text-info" ng-click="editTask(list)"></span>-->
                                            <span class="fa fa-trash text-danger" ng-click="listObj.del(list)"></span>
                                            <!--<span class="fa fa-user text-success" ng-click="edit(list)"></span>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <footer class="table-footer">
                                    <div class="pagObj.sort">
                                        <div class="col-md-6 page-num-info">
                <span>
                展示
                <select data-ng-model="pagObj.numPerPage"
                        data-ng-options="num for num in pagObj.numPerPageOpt"
                        data-ng-change="pagObj.onNumPerPageChange()">
                </select>
                条记录
                </span>
                                        </div>
                                        <div class="col-md-6 text-right pagination-container">
                                            <div uib-pagination class="pagination-sm"
                                                 ng-model="pagObj.currentPage"
                                                 total-items="pagObj.totalElements"
                                                 max-size="4"
                                                 ng-change="pagObj.select(pagObj.currentPage)"
                                                 items-per-page="pagObj.numPerPage"
                                                 rotate="false"
                                                 previous-text="上一页" next-text="下一页"
                                                 first-text="首页" last-text="尾页"
                                                 boundary-links="true"></div>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
