<div ng-controller="TaskDetails2Ctrl">
    <div ng-include="'app/water/header/header.html'"></div>
    <div class="row ui-section">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                        <div layout-padding>
                            <!--<h2 class="section-header">-->
                                <!--任务详情-->
                                <!--<a href="#!/job-list" class="btn btn-xs btn-primary pull-right">-->
                                    <!--返回列表-->
                                    <!--&lt;!&ndash;<span class="fa fa-plus-square pull-right"></span>&ndash;&gt;-->
                                <!--</a>-->
                            <!--</h2>-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4">任务标题:</div>-->
                                <!--<div class="col-xs-8">{{data.title}}</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4">任务下发人名称:</div>-->
                                <!--<div class="col-xs-8">{{data.backUser}}</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4">下发至组织节点名称:</div>-->
                                <!--<div class="col-xs-8">{{data.groupName}}</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-xs-4">创建时间:</div>
                                <div class="col-xs-8">{{data.createdDate|editDate}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">任务内容:</div>
                                <div class="col-xs-8">{{data.content}}</div>
                            </div>
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4">任务进度:</div>-->
                                <!--<div class="col-xs-8">{{data.status}}</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-xs-4">任务来源:</div>
                                <div class="col-xs-8">{{data.type}}</div>
                            </div>
                            <!--<div class="row">-->
                                <!--<div class="col-xs-4">任务接收人姓名:</div>-->
                                <!--<div class="col-xs-8">{{data.jobUserName}}</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-xs-4">图片:</div>
                                <div class="col-xs-8">
                                    <span ng-show="data.images.length==0">无</span>
                                    <div class="row" ng-show="data.images.length>0">
                                        <div class="col-xs-4" ng-repeat="file in data.images" class="file-item">
                                            <img ng-src="{{host}}/api/file-show/path?filepath={{file.filePath}}" style="width:100%;" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-xs-4">音频:</div>
                                <div class="col-xs-8">
                                    <span ng-show="data.audios.length==0">无</span>
                                    <div class="row" ng-show="data.audios.length>0" >
                                        <div class="col-xs-12" ng-repeat="file in data.audios" >
                                            <audio ng-src="{{host}}/api/file-show/path?filepath={{file.filePath}}" style="width:90%;" controls="controls"></audio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
