<style>
    body {
        color: #3D4051;
        line-height: 1.65em;
    }
    .body-water .customizer-toggle {
        display: none;
    }

    .body-water #quickview-customizer {
        display: none;
    }

    .app.body-water > .main-container > .content-container {
        margin-left: 0;
        background: #fff;
    }

    .water {
    }
    .body-water .water .container  .row>div:nth-child(2){
        text-align-last:justify;/* ie9*/
        text-align:justify;
        /*text-justify:inter-ideograph;*/
    }
    .water h5 {
        font-weight: bold;
        margin-top: 3px;
    }

    .water .content {
        text-indent:2em;
    }
    .md-tab{
        padding:0;
    }
    .md-tab>.custom-tab{
        padding:12px 24px;
    }
    .news-content img{
        width:100%;
    }

</style>
<div ng-controller="NewDetailCtrl" class="water news-detail" ng-cloak>
    <div ng-include="'app/water/header/header.html'"></div>
    <div class="row ui-section">
        <div class="col-xs-12">
            <div class="row" style="padding:10px;">
                <div class="col-xs-12">
                    <img ng-src="{{data.imageUrl}}" width="100%" alt="">
                    <!--<h5>{{data.title}} </h5>-->

                    <!--<p style="text-indent:2em;">{{data.content}}</p>-->
                    <!--<text-angular ng-model="data.content"></text-angular>-->
                    <!--<p ta-bind ng-model="data.content" ></p>-->
                    <p class="news-content" ng-bind-html="data.content" ></p>
                    <div style="text-align:right;"><span class="text-info">{{data.createdDate|editDate}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

