<style>
    body {
        color: #3D4051;
        line-height: 1.65em;
    }
    .body-water .customizer-toggle {
        display: none;
    }

    .body-water #quickview-customizer {
        display: none;
    }

    .app.body-water > .main-container > .content-container {
        margin-left: 0;
        background: #fff;
    }

    .water {
    }
    .body-water .water .container  .row>div:nth-child(2){
        text-align-last:justify;/* ie9*/
        text-align:justify;
        /*text-justify:inter-ideograph;*/
    }
    .water h5 {
        font-weight: bold;
        margin-top: 3px;
    }

    .water .content {
        text-indent:2em;
    }
    .md-tab{
        padding:0;
    }
    .md-tab>.custom-tab{
        padding:12px 24px;
    }


</style>
<div ng-controller="NewsCtrl" class="water">
    <div class="row ui-section">
        <div class="col-md-12">
        <md-tabs md-dynamic-height >
            <md-tab ng-repeat="type in listObj.types">
                <md-tab-label>
                    <div class="custom-tab" ng-click="getData(type.name,$index)">{{type.name}}</div>
                </md-tab-label>
                <md-tab-body>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="body in type.body.content"  ng-click="dataInfo(body.id)">
                            <h5>{{body.title}}</h5>
                            <p class="content">{{body.content}}</p>
                            <p><span class="text-danger">发布人：{{body.createdBy}}</span>  <span class="pull-right">{{body.createdDate}}</span></p>
                        </li>
                    </ul>
                </md-tab-body>
            </md-tab>
        </md-tabs>
        </div>
    </div>
</div>

