<style>
    body {
        color: #3D4051;
        line-height: 1.65em;
    }
    .body-water .customizer-toggle {
        display: none;
    }

    .body-water #quickview-customizer {
        display: none;
    }

    .app.body-water > .main-container > .content-container {
        margin-left: 0;
        background: #fff;
    }

    .water {
    }
    .body-water .water .container  .row>div:nth-child(2){
        text-align-last:justify;/* ie9*/
        text-align:justify;
        /*text-justify:inter-ideograph;*/
    }
    .water h5 {
        font-weight: bold;
        margin-top: 3px;
    }

    .water p.text-content {
        margin-top: 10px;
        text-indent: 2em;
    }

    .map {
        background: url('assets/images/water/01-1.jpg') no-repeat 0 0;
        min-height: 600px;
        background-size:100% auto;
        position: relative;
        margin-bottom: 5px;
    }

    .map button {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 20px;
    }

    .body-water .water .container > .row {
        padding: 10px 0;
    }

    .body-water .water .container > .row:nth-child(2) {
        border-top: 1px solid rgba(0,0,0,0.12);
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }
</style>
<div ng-controller="NewsCtrl" class="water">
    <div class="row ui-section">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" ng-click="" >
                    <span>新闻1</span>
                    <i class="pull-right">
                        <i class="fa fa-chevron-right"></i>
                    </i>
                </li><li class="list-group-item" ng-click="" >
                <span>新闻2</span>
                <i class="pull-right">
                    <i class="fa fa-chevron-right"></i>
                </i>
            </li>
                <li class="list-group-item" ng-click="" >
                    <span>新闻3</span>
                    <i class="pull-right">
                        <i class="fa fa-chevron-right"></i>
                    </i>
                </li>
                <li class="list-group-item" ng-click="" >
                    <span>新闻4</span>
                    <i class="pull-right">
                        <i class="fa fa-chevron-right"></i>
                    </i>
                </li>
                <li class="list-group-item" ng-click="" >
                    <span>新闻5</span>
                    <i class="pull-right">
                        <i class="fa fa-chevron-right"></i>
                    </i>
                </li>
            </ul>
        </div>
    </div>
</div>

