<style>
    .managerLog .list-group-item>div.row{
        position:relative;
    }
    .managerLog .list-group-item>div.row .date{
        position:absolute;
        bottom:0;
        right:10px;
    }
</style>
<div class="water" ng-controller="ManagerLogCtrl" class="managerLog" ng-cloak>
    <div class="row ui-section">
        <div class="col-xs-12">
            <!--<ul class="list-group">-->
                <!--<li class="list-group-item" ng-repeat="body in data.content"  ng-click="logDetail(body.id)" >-->
                    <!--<div class="row" style="position:relative;">-->
                        <!--<div class="col-xs-4">-->
                            <!--<img ng-src="{{body.imageUrl}}" width="100%" alt="">-->
                        <!--</div>-->
                        <!--<div class="col-xs-8">-->
                            <!--<h5>{{body.title}}</h5>-->
                        <!--</div>-->
                        <!--<span class="date" style="position:absolute;bottom:0;right:10px;">{{body.createdDate|editDate}}</span>-->
                    <!--</div>-->

                <!--</li>-->
            <!--</ul>-->
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="body in data"
                    ng-click="dataInfo(body)" ng-show="body.imageUrl">
                    <div class="row"  style="position:relative;">
                        <div class="col-xs-5">
                            <img ng-src="{{body.imageUrl}}" class="news-img" width="100%" alt="">
                        </div>
                        <div class="col-xs-7">
                            <h5 class="news-title">{{body.title}}</h5>

                        </div>
                        <div style="position:absolute;left:0;right:0;bottom:0;">
                            <div class="col-xs-5"></div>
                            <div class="col-xs-7">
                                <div class="pull-left" style="color:#ccc;">{{body.createdDate|editDate}}</div>
                                <div class="pull-right text-primary" >{{body.riverName}}</div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>

