<div ng-controller="TaskListCtrl" class="fore-task-list-manage">
    <div ng-include="'app/water/header/header.html'"></div>
    <div class="ui-section row">
        <div class="col-xs-12" style="background:#fff;">
            <md-tabs md-dynamic-height>
                <md-tab>
                    <md-tab-label>
                        <div>未分配任务</div>
                    </md-tab-label>
                    <md-tab-body>
                        <!--<div class="table-responsive">-->
                            <!--<table class="table no-margin">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--&lt;!&ndash;<th>#</th>&ndash;&gt;-->
                                    <!--<th>-->
                                        <!--<div class="th">-->
                                            <!--任务标题-->
                                            <!--<span class="fa fa-angle-up"-->
                                                  <!--data-ng-click=" orderBy('title') "-->
                                                  <!--data-ng-class="{active: pagObj.sort == 'title'}"></span>-->
                                            <!--<span class="fa fa-angle-down"-->
                                                  <!--data-ng-click=" orderBy('title,desc') "-->
                                                  <!--data-ng-class="{active: pagObj.sort == 'title,desc'}"></span>-->
                                        <!--</div>-->
                                    <!--</th>-->
                                    <!--<th class="hidden-xs">-->
                                        <!--<div class="th">-->
                                            <!--处理进度-->
                                            <!--<span class="fa fa-angle-up"-->
                                                  <!--data-ng-click=" orderBy('status') "-->
                                                  <!--data-ng-class="{active: pagObj.sort == 'status'}"></span>-->
                                            <!--<span class="fa fa-angle-down"-->
                                                  <!--data-ng-click=" orderBy('status,desc') "-->
                                                  <!--data-ng-class="{active: pagObj.sort == 'status,desc'}"></span>-->
                                        <!--</div>-->
                                    <!--</th>-->
                                    <!--<th class="hidden-xs">-->
                                        <!--<div class="th">-->
                                            <!--&lt;!&ndash;处理员&ndash;&gt;-->
                                            <!--组织名称-->
                                        <!--</div>-->
                                    <!--</th>-->
                                    <!--<th>-->
                                        <!--<div class="th">-->
                                            <!--任务源-->
                                            <!--&lt;!&ndash;<span class="fa fa-angle-up"&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-click=" orderBy('origin') "&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-class="{active: pagObj.sort == 'origin'}"></span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="fa fa-angle-down"&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-click=" orderBy('-origin') "&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-class="{active: pagObj.sort == '-origin'}"></span>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</th>-->
                                    <!--<th>-->
                                        <!--<div class="th">-->
                                            <!--河道-->
                                            <!--&lt;!&ndash;<span class="fa fa-angle-up"&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-click=" orderBy('river') "&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-class="{active: pagObj.sort == 'river'}"></span>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<span class="fa fa-angle-down"&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-click=" orderBy('-river') "&ndash;&gt;-->
                                            <!--&lt;!&ndash;data-ng-class="{active: pagObj.sort == '-river'}"></span>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</th>-->
                                    <!--<th>-->
                                        <!--<div class="th">-->
                                            <!--操作-->
                                        <!--</div>-->
                                    <!--</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="list in listObj.data">-->
                                    <!--&lt;!&ndash;<td>{{list.id}}</td>&ndash;&gt;-->
                                    <!--<td>{{list.title}}</td>-->
                                    <!--<td class="hidden-xs">{{list.status}}-->
                                        <!--&lt;!&ndash;<span ng-class="{'text-primary':list.status=='已上报','text-info':list.status=='正在处理','text-success':list.status=='处理完成'}">{{list.status}}</span>&ndash;&gt;-->
                                    <!--</td>-->
                                    <!--<td class="hidden-xs">-->
                                        <!--{{list.groupName}}-->
                                        <!--&lt;!&ndash;<span ng-repeat="user in list.users" style="margin:0 3px;">{{user.user}}</span>&ndash;&gt;-->
                                    <!--</td>-->
                                    <!--<td>{{list.type}}</td>-->
                                    <!--<td>{{list.riverName}}</td>-->
                                    <!--<td>-->
                                        <!--&lt;!&ndash;<span class="fa fa-eye text-primary" ng-click="toTaskDetails(list)"></span>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="fa fa-edit text-info" ng-click="editTask(list)"></span>&ndash;&gt;-->
                                        <!--<span class="fa fa-trash text-danger" ng-click="listObj.del(list)"></span>-->
                                        <!--<span class="fa fa-user text-success" ng-click="edit(list)"></span>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                        <md-list>
                            <md-list-item>
                                <p class="col-xs-4">任务标题</p>
                                <p class="col-xs-3" >任务源</p>
                                <p class="col-xs-3" >河道</p>
                                <p class="col-xs-2" >操作</p>
                            </md-list-item>
                        </md-list>
                        <md-divider></md-divider>
                        <div infinite-scroll="loadMore()"  infinite-scroll-disabled="pagObj.busy">
                            <md-list>
                                <md-list-item ng-repeat="list in listObj.data">
                                    <p class="col-xs-4">{{list.title}}</p>
                                    <p class="col-xs-3" >{{list.type}}</p>
                                    <p class="col-xs-3" >{{list.riverName}}</p>
                                    <p class="col-xs-2" layout="row" >
                                        <span class="fa fa-eye text-primary" ng-click="toTaskDetails2(list)" flex></span>
                                        <span class="fa fa-user text-success" ng-click="edit(list)" flex></span>
                                    </p>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div class="text-center">{{noData}}</div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label><div>已分配任务</div></md-tab-label>
                    <md-tab-body>
                        <div ng-include="'app/fore/foreJobListManage/foreJobListManage.html'"></div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
