<div ng-controller="UserListCtrl">
    <div class="page page-form-ele">
        <div class="row ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding class="table-responsive">
                                <h2 class="section-header">
                                    人员列表
                                    <a href="#!/add-staff/">
                                        <span class="fa fa-plus-square pull-right"></span>
                                    </a>
                                </h2>
                                <table class="table no-margin">
                                    <thead>
                                    <tr>
                                        <!--<th>#</th>-->
                                        <th>账号</th>
                                        <th>姓名</th>
                                        <th>手机</th>
                                        <!--<th>邮箱</th>-->
                                        <th>职位</th>
                                        <th>组织</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="list in listObj.data">
                                        <!--<td>{{list.id}}</td>-->
                                        <td>{{list.login}}</td>
                                        <td>{{list.firstName}}</td>
                                        <td>{{list.phoneNumber}}</td>
                                        <!--<td>{{list.email}} </td>-->
                                        <td>{{list.department}}</td>
                                        <td>{{list.groupName}}</td>
                                        <td>
                                            <!--<span class="fa fa-eye text-primary" ng-click="toTaskDetails(list)"></span>-->
                                            <span class="fa fa-edit text-info" ng-click="editTask(list)"></span>
                                            <!--<span class="fa fa-trash" style="color:rgb(229,57,53);margin-left:5px;" ng-click="listObj.del(list.login)"></span>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
