<div class="" tabindex="-1" role="dialog">
    <div class="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">公示牌</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <img ng-src="{{host}}/api/file-show/path?filepath={{gspObj.url}}" style="width:100%;" alt="">
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" ng-click="cancel()">返回</button>-->
                <!--<button type="button" class="btn btn-primary" ng-click="save()">确定</button>-->
            <!--</div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
