<style>
    body {
        color: #3D4051;
        line-height: 1.65em;
    }
    .body-water .customizer-toggle {
        display: none;
    }

    .body-water #quickview-customizer {
        display: none;
    }

    .app.body-water > .main-container > .content-container {
        margin-left: 0;
        background: #fff;
    }

    .water {
    }
    .body-water .water .container  .row>div:nth-child(2){
        text-align-last:justify;/* ie9*/
        text-align:justify;
        /*text-justify:inter-ideograph;*/
    }
    .water h5 {
        font-weight: bold;
        margin-top: 3px;
    }

    .water p.text-content {
        margin-top: 10px;
        text-indent: 2em;
        font-size:14px;
        line-height:1.6;
    }

    .map {
        /*background: url('assets/images/water/01-1.jpg') no-repeat 0 0;*/
        height: 280px;
        background-size:100% auto;
        position: relative;
        margin-bottom: 5px;
    }

    .map a.btn {
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 20px;
    }

    .body-water .water .container > .row {
        padding: 10px 0;
    }

    .body-water .water .container > .row:nth-child(2) {
        border-top: 1px solid rgba(0,0,0,0.12);
        border-bottom: 1px solid rgba(0,0,0,0.12);
    }
    md-pagination-wrapper{
        display:flex;
        display:-webkit-flex;
    }
    .md-tab{
        padding:0;
    }
    .md-tab>.custom-tab{
        padding:12px 24px;
    }
    img{
        width:100%;
    }
    .text{
        /*font-size:14px !important;*/
    }
</style>
<div class="water" ng-controller="WaterCtrl" ng-cloak>
    <md-tabs  style="position: absolute;top: 0;bottom: 0; width: 100vw;" >
        <md-tab>
            <md-tab-label><div class="custom-tab">基础信息</div></md-tab-label>
            <md-tab-body>
                <div  >
                    <div class="row ui-section">
                        <div class="col-md-12">
                            <div class="map" ng-style="{'background':'url('+src+') no-repeat 0 0','background-size':'100% 100%' }" >
                                <!--<div id="baiduMap" baidu-map style="height:100%;"></div>-->
                                <!--<a class="btn btn-success">投诉建议</a>-->
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-3"><h5>一级河长</h5></div>
                                    <div class="col-xs-3">{{dataObj.manager.userName}}</div>
                                    <div class="col-xs-6">{{dataObj.manager.department}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row" ng-repeat="data in dataObj.secondManagers">
                                            <div class="col-xs-3"><h5 ng-show="$first">二级河长</h5></div>
                                            <div class="col-xs-3">{{data.userName}}<span></span></div>
                                            <div class="col-xs-6">{{data.department}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5>基本信息</h5>
                                        <p class="text-content">{{dataObj.content}}</p>
                                        <img ng-src="{{img}}" width="100%" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab-body>
        </md-tab>
        <!--<md-tab>-->
            <!--<md-tab-label><div class="custom-tab">水质数据</div></md-tab-label>-->
            <!--<md-tab-body>水质数据内容</md-tab-body>-->
        <!--</md-tab>-->
        <md-tab>
            <md-tab-label><div class="custom-tab">综合治理</div></md-tab-label>
            <md-tab-body>
                <md-tabs md-dynamic-height>
                    <md-tab ng-repeat="new in news">
                        <md-tab-label>
                            <div class="custom-tab">{{new.title}}</div>
                        </md-tab-label>
                        <md-tab-body>
                            <ul class="list-group" ng-hide="new.title=='一河一档'">
                                <li class="list-group-item" ng-repeat="content in new.content.content">
                                    <h5>{{content.title}}</h5>
                                    <p  class="text" ng-bind-html="content.content">{{content.content}}</p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="pull-right text-info">{{content.createdDate|editDate}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-group" ng-show="new.title=='一河一档'">
                                <li class="list-group-item" ng-repeat="new in new.content.content"  ng-click="logDetail(new.id)" >
                                    <div class="row" style="position:relative;">
                                        <div class="col-xs-4">
                                            <img ng-src="{{new.imageUrl}}" width="100%" alt="">
                                        </div>
                                        <div class="col-xs-8">
                                            <h5>{{new.title}}</h5>
                                        </div>
                                        <span class="date" style="position:absolute;bottom:0;right:10px;">{{new.createdDate|editDate}}</span>
                                    </div>

                                </li>
                            </ul>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </md-tab-body>
        </md-tab>
        <!--<md-tab>-->
            <!--<md-tab-label><div class="custom-tab">巡河记录</div></md-tab-label>-->
            <!--<md-tab-body>巡河记录内容</md-tab-body>-->
        <!--</md-tab>-->
        <md-tab>
            <md-tab-label><div class="custom-tab">河长日志</div></md-tab-label>
            <md-tab-body>
                <div ng-include="'app/water/managerLog/managerLog.html'"></div>
            </md-tab-body>
        </md-tab>

    </md-tabs>

</div>

