<div ng-controller="GroupListCtrl" class="group-list">
    <div class="page page-form-ele">
        <div class="row ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <h2 class="section-header">
                                    组织结构列表
                                    <a href="#!/add-group" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a>
                                </h2>
                                <div class="table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                        <tr>
                                            <!--<th>#</th>-->
                                            <th>
                                                <div class="th">
                                                    组织名称
                                                    <span class="fa fa-angle-up"
                                                          data-ng-click=" orderBy('name') "
                                                          data-ng-class="{active: row == 'name'}"></span>
                                                    <span class="fa fa-angle-down"
                                                          data-ng-click=" orderBy('-name') "
                                                          data-ng-class="{active: row == '-name'}"></span>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="th">
                                                    上级组织
                                                    <span class="fa fa-angle-up"
                                                          data-ng-click=" orderBy('longPname') "
                                                          data-ng-class="{active: row == 'longPname'}"></span>
                                                    <span class="fa fa-angle-down"
                                                          data-ng-click=" orderBy('-longPname') "
                                                          data-ng-class="{active: row == '-longPname'}"></span>
                                                </div>
                                            </th>
                                            <!--<th>上级节点id</th>-->
                                            <!--<th>组织结构路径</th>-->
                                            <th>
                                                <div class="th">
                                                    操作
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="list in listArr">
                                            <!--<td>{{list.id}}</td>-->
                                            <td>{{list.name}}</td>
                                            <td>{{(list.longPname|filterGroupName)=='一级节点'?'杨浦河长制':(list.longPname|filterGroupName)}}</td>
                                            <!--<td>{{list.longPid}}</td>-->
                                            <!--<td>{{list.longPname}}</td>-->
                                            <td>
                                                <!--<a class="fa fa-eye text-primary"></a>-->
                                                <a class="fa fa-remove text-danger"  ng-click="del(list)"></a>
                                                <a class="fa fa-edit text-success" href="#!/edit-group/{{list.id}}"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
