<div ng-controller="EditInfoCtrl">
    <div class="page page-form-ele">
        <div class="row ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <form name="addGroup" class="form-horizontal">
                                    <h2 class="section-header">编辑信息</h2>
                                    <div class="form-group">
                                        <label for="label-info-title" class="col-sm-2">信息标题</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="label-info-title" ng-model="formObj.title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="label-info-type" class="col-sm-2">信息类型</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="label-info-type" ng-model="formObj.newsTypeId">
                                                <!--<option value="{{formObj.newsTypeId}}" ng-selected="22">{{formObj.newsTypeId}}</option>-->
                                                <option value="{{type.id}}" ng-repeat="type in types" >{{type.id}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label for="label-select-river" class="col-sm-2">选择河道</label>-->
                                        <!--<div class="col-sm-10">-->
                                            <!--<select class="form-control" id="label-select-river" ng-model="formObj.riverId">-->
                                                <!--<option value="{{river.name}}" ng-repeat="river in rivers">{{river.name}}</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label for="label-task-content" class="col-sm-2">信息内容</label>
                                        <div class="col-sm-10">
                                            <!--<input type="text" class="form-control" ng-model="formObj.taskContent">-->
                                            <textarea name="infoContent"class="form-control" cols="30" rows="10" ng-model="formObj.content" id="label-task-content"></textarea>
                                        </div>
                                    </div>
                                    <span class="pull-right">
                                        <a href="#!/dynamic-info" ui-wave class="btn btn-w-md btn-danger" >
                                            返回
                                        </a>
                                         <button type="submit" ui-wave class="btn btn-primary btn-w-md "  ng-click="save()">确定</button>
                                    </span>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
