<style>


    .btn-blue {
        /*background-color: #6acaff;*/
        /*color:#fff;*/
        /*border-color: #4c7889;*/
    }

    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue.focus,
    .btn-blue:active,
    .btn-blue.active,
    .open > .dropdown-toggle.btn-blue {
        border-color: #33505b;
    }

    .btn-blue:active,
    .btn-blue.active,
    .open > .dropdown-toggle.btn-blue {
        background-image: none;
    }

    .btn-blue.disabled,
    .btn-blue[disabled],
    fieldset[disabled] .btn-blue,
    .btn-blue.disabled:hover,
    .btn-blue[disabled]:hover,
    fieldset[disabled] .btn-blue:hover,
    .btn-blue.disabled:focus,
    .btn-blue[disabled]:focus,
    fieldset[disabled] .btn-blue:focus,
    .btn-blue.disabled.focus,
    .btn-blue[disabled].focus,
    fieldset[disabled] .btn-blue.focus,
    .btn-blue.disabled:active,
    .btn-blue[disabled]:active,
    fieldset[disabled] .btn-blue:active,
    .btn-blue.disabled.active,
    .btn-blue[disabled].active,
    fieldset[disabled] .btn-blue.active {
        border-color: #4c7889;
    }


    [ta-button] {
        height: 44px;
        margin-bottom: 5px;
    }

    .red{ color: red; }
</style>
<div ng-controller="AddInfoCtrl">
    <div class="page page-form-ele">
        <div class="row ui-section">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                            <div layout-padding>
                                <form name="addGroup" class="form-horizontal">
                                    <h2 class="section-header">添加信息</h2>
                                    <div class="form-group">
                                        <label for="label-info-title" class="col-sm-2">信息标题</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="label-info-title"
                                                   ng-model="formObj.title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="label-info-type" class="col-sm-2">信息类型</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="label-info-type" ng-model="formObj.newsType">
                                                <option value="{{type}}" ng-repeat="type in infoTypes">{{type}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-show="formObj.newsType=='一河一档'||formObj.newsType=='一河一策'||formObj.newsType=='河长日志'">
                                        <label for="label-select-river" class="col-sm-2">选择河道</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" id="label-select-river"
                                                    ng-model="formObj.riverId">
                                                <option value="{{river.id}}" ng-repeat="river in rivers">
                                                    {{river.riverName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="formObj.newsType=='新闻动态'">
                                        <label for="" class="col-sm-2">选择子栏目</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="" ng-model="formObj.newsType2" ng-hide="addTypes">
                                                <option value="{{type.name}}" ng-repeat="type in newsTypes">{{type.name}}
                                                </option>
                                            </select>
                                            <input type="text" class="form-control" ng-model="formObj.newsType2" ng-keydown="addNewsType2($event,newsType2)" ng-show="addTypes" >
                                        </div>
                                        <div class="col-md-1">
                                            <button class="btn btn-primary pull-right" ng-click="addTypes=!addTypes">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="addNewsType">
                                        <label class="col-md-2">添加子栏目</label>
                                        <div class="col-md-10 ">
                                            <md-chips ng-model="formObj.newsType2"></md-chips>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="label-info-imageUrl" class="col-sm-2">封面图片</label>
                                        <div class="col-sm-10">
                                            <!--<input type="text" class="form-control" id="label-info-imageUrl"-->
                                            <!--ng-model="formObj.imageUrl">-->
                                            <input type="file" id="label-info-imageUrl"  class="form-control" onChange="angular.element(this).scope().handleChange()" accept="image/*">

                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="formObj.imageUrl">
                                        <label  class="col-sm-2">封面图片预览</label>
                                        <div class="col-sm-10">
                                            <img ng-src="{{formObj.imageUrl}}" alt="" style="height:150px;">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-2">信息内容</label>
                                        <div class="col-sm-10">
                                            <div   ta-paste="aaa($html)" text-angular ng-model="htmlVariable" ></div>
                                        </div>

                                    </div>
                                    <div class="divider divider-dashed divider-lg pull-in"></div>
                                    <div class="form-group">
                                        <div class="col-md-2">

                                            <h2 class="section-header">上传文件</h2>

                                            <input type="file" class="form-control" nv-file-select=""
                                                   uploader="uploader" multiple/><br/>
                                        </div>

                                        <div class="col-md-10">

                                            <h2 class="section-header">上传队列</h2>
                                            <p>文件数: {{ uploader.queue.length }}</p>

                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th width="30%">文件名</th>
                                                    <th ng-show="uploader.isHTML5">大小</th>
                                                    <th ng-show="uploader.isHTML5">进度</th>
                                                    <th>文件路径</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in uploader.queue">
                                                    <td><strong>{{ item.file.name }}</strong></td>
                                                    <td ng-show="uploader.isHTML5" nowrap>{{
                                                        item.file.size/1024/1024|number:2 }} MB
                                                    </td>
                                                    <td ng-show="uploader.isHTML5">
                                                        <div class="progress" style="margin-bottom: 0;">
                                                            <div class="progress-bar" role="progressbar"
                                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <!--<span ng-show="item.isSuccess"><i-->
                                                            <!--class="glyphicon glyphicon-ok"></i></span>-->
                                                        <!--<span ng-show="item.isCancel"><i-->
                                                            <!--class="glyphicon glyphicon-ban-circle"></i></span>-->
                                                        <!--<span ng-show="item.isError"><i-->
                                                            <!--class="glyphicon glyphicon-remove"></i></span>-->
                                                        <span ng-show="item.isSuccess">
                                                            {{fileOrigin}}{{item.filePath}}
                                                        </span>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs"
                                                                ng-click="item.upload()"
                                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span> 上传
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs"
                                                                ng-click="item.cancel()"
                                                                ng-disabled="!item.isUploading">
                                                            <span class="glyphicon glyphicon-ban-circle"></span> 取消
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs"
                                                                ng-click="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span> 移除
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <div>
                                                <div>
                                                    上传进度:
                                                    <div class="progress" style="">
                                                        <div class="progress-bar" role="progressbar"
                                                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-success btn-s"
                                                        ng-click="uploader.uploadAll()"
                                                        ng-disabled="!uploader.getNotUploadedItems().length">
                                                    <span class="glyphicon glyphicon-upload"></span> 上传所有
                                                </button>
                                                <button type="button" class="btn btn-warning btn-s"
                                                        ng-click="uploader.cancelAll()"
                                                        ng-disabled="!uploader.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> 取消所有
                                                </button>
                                                <button type="button" class="btn btn-danger btn-s"
                                                        ng-click="uploader.clearQueue()"
                                                        ng-disabled="!uploader.queue.length">
                                                    <span class="glyphicon glyphicon-trash"></span> 移除所有
                                                </button>
                                            </div>

                                        </div>

                                    </div>
                                    <span class="pull-right">
                                         <a href="#!/dynamic-info" ui-wave class="btn btn-w-md btn-danger" >
                                            返回
                                        </a>
                                        <button type="submit" ui-wave class="btn btn-primary btn-w-md "
                                                ng-click="save()">添加
                                        </button>
                                    </span>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
