
<div ng-controller="LoginCtrl" class="login" ng-cloak>
    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <section class="logo text-center">
                            <h4><a href="#!/home"  class="text-primary">欢迎登陆</a></h4>
                        </section>

                        <form class="form-horizontal" ng-submit="login()">
                            <fieldset>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="text" required class="form-control" ng-model="user.username">
                                        <span class="input-bar"></span>
                                        <label>用户名</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="ui-input-group">
                                        <input type="password" required class="form-control" ng-model="user.password">
                                        <!--<span class="input-bar"></span>-->
                                        <label>密码</label>
                                    </div>
                                </div>
                            </fieldset>
                            <div ng-show="err" class="text-danger pull-left">用户名或密码不正确</div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary pull-right">登陆</button>
                                    <button class="btn btn-default pull-left" ng-click="cancel()">取消</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <!--<div class="additional-info">-->
                    <!--<a href="#!/page/signup">Register</a>-->
                    <!--<span class="divider-h"></span>-->
                    <!--<a href="#!/page/forgot-password">Forgot your password?</a>-->
                <!--</div>-->

            </div>
        </div>

    </div>
</div>

